replicas: 1
imagePullPolicy: IfNotPresent
image: devops-assignment:latest
command: "node"
args: ["k8s-test.js"]
port: 8080
nodeEnv: production
resources:
  requests:
    memory: 256Mi
    cpu: 50m
  limits:
    memory: 1Gi
mongodb:
  image: mongo:latest
  port: 27017
service:
  port: 8080
  type: ClusterIP
serviceAccount:
  create: true
ingress:
  enabled: false
autoscaling:
  enabled: false

